@charset "UTF-8";

.abaout_section_container {
  padding: 0 20px;
  max-width: 75vw;
  margin: 5rem auto;
  color: #738290;
  font-family: "Roboto", sans-serif;
}

.abaout_section_container .title-container {
  display: flex;
  justify-content: center;
}

.abaout_section_container .title {
  font-size: 3rem;
  display: inline-block;
  color: #9796F0;
  background: linear-gradient(to right, #31c47f, #3fea2c );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about_card {
  border-radius: 10px;
  background: #FFF;
  max-width: 45rem;
  padding: 20px;
  box-shadow: 4px 4px 12px 1px rgba(0, 0, 0, 0.2);
  line-height: 1.5;
}
.about_card + .about_card {
  margin-left: 20px;
}
.about_card-list {
  display: flex;
  flex: 1;
}
.about_card-title {
  margin: 0 0 20px 0;
  letter-spacing: 1px;
}
.about_card-description {
  margin: 0;
}
.about_card-details .about_card-title {
  color: #3fea2c;
}
.about_card-summary .about_card-title {
  color: #31c47f;
}
@media (max-width: 500px) {
  .about_card {
    flex: 1;
  }
}

.about_sample {
  margin-top: 40px;
  border-radius: 10px;
  overflow: hidden;
}
.about_sample-title {
  line-height: 2;
  font-size: 0.75rem;
  background: #738290;
  color: #FFF;
  padding: 0 20px;
  letter-spacing: 1px;
}
.about_sample-code {
  border-left: 2px dashed #E4F0D0;
  border-right: 2px dashed #E4F0D0;
  padding: 20px;
  line-height: 1.5;
}
.about_sample-html {
  padding: 20px;
  background: #E4F0D0;
}
.about_sample-html-details[open] .about_sample-html-summary:before {
  content: "😄";
  -webkit-animation: about_smiley_animation 0.2s cubic-bezier(0.01, 0.29, 0.38, 2.37);
          animation: about_smiley_animation 0.2s cubic-bezier(0.01, 0.29, 0.38, 2.37);
}
.about_sample-html-summary {
  list-style-image: none;
  cursor: pointer;
  padding-left: 60px;
  position: relative;
}
.about_sample-html-summary:before {
  content: "☺️";
  position: absolute;
  top: calc(50% - 18px);
  left: 0;
  font-size: 2rem;
}
.about_sample-html-summary:focus {
  outline: none;
}
.about_sample-html-summary::-webkit-details-marker {
  display: none;
}

.code, .about_sample-title {
  font-family: "Fira Mono", monospace;
}
.code-details {
  color: #31c47f;
}
.code-summary {
  color: #3fea2c;
}

.speech {
  display: inline-block;
  margin: 20px 0 0 7px;
  padding: 20px;
  background: #FFF;
  border-radius: 0 10px 10px 10px;
  position: relative;
  -webkit-animation: speech 0.3s cubic-bezier(0.01, 0.29, 0.38, 2.37);
          animation: speech 0.3s cubic-bezier(0.01, 0.29, 0.38, 2.37);
  transform-origin: top left;
}

.speech:before {
  content: "";
  position: absolute;
  border: 8px solid transparent;
  top: -16px;
  left: 0;
  border-bottom-color: #FFF;
}


@-webkit-keyframes speech {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes speech {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes about_smiley_animation {
  50% {
    transform: scale(1.1);
  }
}
@keyframes about_smiley_animation {
  50% {
    transform: scale(1.1);
  }
}