
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --very-light-green: #e9ffe5;
    --white: #ffffff;
    --black: #333;
    --btn-border-radius: 4px;
    --blue-text:#485fc7;
    --btn-height:2.8rem;
    --blue-professional:#146ef5
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
    display: none;  /* Safari and Chrome */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  *:before, *:after {
    box-sizing: inherit;
  }

html {
	scrollbar-width: none;  /* Firefox */
  font-size: 1rem;
	/*
  scroll-behavior: smooth;  
  is done with gsap
  */
}


body {
    margin:0;
    color: var(--black);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

h1,h2,h3,h4{
  font-family: "Open Sans", arial, sans-serif;
}

h1,h2{
  font-weight: 700;
}
h3,h4{
  font-weight: 500;
}

p,a{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

  nav {
    position:sticky;
    top:0;
    width:100%;
    background:#fffd;
    /*border-bottom: 2px solid var(--white);*/
    margin:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    backdrop-filter: blur(2px);
    z-index: 9999;
  }

  nav > #scrollbar{
    position: absolute;
    bottom: 1px;
    transform: translateY(10px);
    left: 0;
    opacity: 0;
    height: 4px;
    width: .6rem;
    background-color: var(--blue-professional);
    transition: all .3s linear;
    border-radius: 2px;
    }
  
  header#website_title{
    margin-left:2rem;
    overflow: hidden;
    padding:1rem,0;
    /*animation-name: fadeIn;
    animation-duration: 1s;*/
  }

  #website_title > h2{ 
    letter-spacing: .15rem;
    font-size: 2.5rem;
    margin:0;    
    opacity: 1;
    color: transparent;
  }

  #header-overlay{
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
  }

  #header_image_wrapper{
    color:white;
    display: inline-flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 2rem;
    border-radius: 6rem;
    background-color: inherit;
    backdrop-filter: blur(6px);
    margin: 3rem;
  }

  #header_image_wrapper > img{
    border:1rem solid var(--black);
    border-radius: 100%;
    width: 18vw;
    height:18vw;
  }

  #header_image_wrapper > figcaption {
    padding: 0rem 2rem 2rem 3rem;
    max-width: 40vw;
    cursor: pointer;
  }

  #header_image_wrapper > figcaption h2{
    font-size: 3.5rem;
    cursor: pointer;
  }

  #header_image_wrapper > figcaption h4{
    font-size: 1.6rem;
    margin-top:1.5rem;
    line-height: 2.3rem;
    font-weight: 300;
  }

  #header_image_wrapper > h2{
    font-size: 4rem;
  }

  #header_subtitile{
    visibility:hidden;
  }

  #spacesheeps_buttons{
    position: absolute;
    bottom:0;
    right:20px;
    display: inline-flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

  }
  
  #spacesheeps_buttons button{
    background-color: transparent;
    backdrop-filter: blur(2px);
    border:1px solid white;
    margin:1rem;
    color:var(--blue-professional);
    transition: all .2s ease;
  }

  #spacesheeps_buttons button:active{
    color: white;
    border-color: var(--blue-professional);
  }

  
  @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
	}



/*  class used for gsap - #wbsite_title > h2  */


#website_title > h2 .char {
  opacity: 0;
  color: var(--black);
  margin-right:.1em;
}



  .nav__btn-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right:2rem;
  }
  .nav__btn-container > * {
    margin-left: 1rem;
  }

  .box-reveal{
    transform: translateX(10rem);
    opacity: 0;
  }


  p{
    padding-top: 0rem;
  }





/*        N A V B A R    B U T T O N S      */
.button-60 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  height: var(--btn-height);
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-60:active {
  border-color: #4a4a4a;
    border-color: #fff;
  outline: 0;
  outline: none;
  box-shadow: none;
}

.button-60:focus {
  border-color: #485fc7;
  border-color:#fff;
  outline: none;
  box-shadow: none;
}

.button-60:hover {
  border-color: #b5b5b5;
}

.button-60:focus:not(:active) {
  /*box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 6px;*/
  border-color:var(--blue-professional);
  outline:0;
}




/*      /END   N A V B A R    B U T T O N S      */



.sec-center{
  position:relative;

}

.for-dropdown {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 2;
  height: var(--btn-height);
  transition: all 200ms linear;
  border-radius: 4px;
  width: 220px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  cursor: pointer;
  color: #102770;
  box-shadow: 0 12px 35px 0 rgba(255,235,167,.15);
}



.section-dropdown {
  position: absolute;
  padding: 5px;
  background-color: #111;
  top: 70px;
  left: -20%;
  width: 120%;
  border-radius: 4px;
  display: block;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
}

/*hide with javascript better*/
.for-dropdown:active ~ .section-dropdown,
.for-dropdown:focus ~ .section-dropdown,
.section-dropdown:hover{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}


/*to create the arrow corner pointing up of the dropdown */
.section-dropdown:after {
  position: absolute;
  top: -7px;
  right: 30px;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; 
  border-bottom: 8px solid #111;
  content: '';
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}




nav a {
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: .8rem 0;
  padding-left: 20px;
  padding-right: 15px;
  margin: 2px 0;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  -ms-flex-pack: distribute;
}

nav a:hover {
  color: #102770;
  background-color: #ffeba7;
}

nav a .uil {
  font-size: 22px;
}





footer{
  background-color: var(--black);
  color: var(--blue-professional);
}

/*
#footer-foo{
  position: relative;
  background-color: green;
  height: 0px;
  overflow: hidden;
  z-index: -1;
  margin-top: -1rem;
}
*/



.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: .1rem;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}


.footer-center .footer-icon {
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
  cursor: pointer;
	background-color:  #33383b;
	border-radius: 50%;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	
	margin-right: 3px;
	margin-bottom: 5px;
}

 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}

.footer-distributed .footer-center p{
	padding: 0;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}

