



/* to change */
/*
.spacer {
	width:100%;
	height:50vh;
	background:#ddd;
}


.headline {
	background:#ddd;
	border-radius:6px;
	height:4em;
	width:100%;
}

.text {
	margin:0.8em 0 0 0;
	background:#2D4E86;
	border-radius:6px;
	height:1em;
	width:100%;
}
*/
/* to change */

/*
#showcase_title{
	font-size: 2.5rem;
    text-align: center;
    padding: 1.5em;
}
*/

.showcase_details{
	color:#1a222e;
}

.showcase_headline h1 {
  text-align: center;
  font-size: 2.8rem;
}

.showcase_headline h1 span {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 3em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}

.showcase_description{
	font-size: 1.2rem;
}






.showcase_gallery {
  display:flex;	
  padding:0 10rem
  /*outline:1px solid red;*/
}

.showcase_text_container {
	width:50%;
}

.detailsWrapper {
	margin:auto;
	width:80%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items: center;
}

.showcase_details {
	height:100vh;
	width:90%;
	/*outline:1px solid green;*/
	display:flex;
	flex-direction:column;
	justify-content:center;
}


.showcase_pictures_container {
	/*outline:1px solid purple; */
	width:50%;
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items: center;
}

.showcase_photos {
	background:none;
	position:relative;
	margin-top: 10vh;
	width:43vh;
	height:84.5vh;
	overflow: hidden;
}

.photo_showcase {
	position:absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	border-radius: .7cm;
	border: 4px solid darkgrey;
	background-color: white;
	/* box-shadow: 0 0 4px lightgrey; */ /*  */
}

.photo_showcase > img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}


/*
.red {
	background: red;
}

.green {
	background:green;
}

.blue {
	background:blue;
}
.grey {
	background:grey;
}

*/
