

.subsection-wrapper {
  font-family: "Raleway", sans-serif;
  background-color: #01e37f;
  padding:2.5rem;
}

.product h3 {
  font-size: 1em;
  letter-spacing: 1.2px;
  color: #a6a6a6;
}

.product li img {
  max-width: 100%;
  filter: drop-shadow(1px 1px 3px #a6a6a6);
}

/* ----- Product Section ----- */
.product {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  margin: auto;
  padding: 2.5em 0;
  min-width: 600px;
  background-color: white;
  border-radius: 5px;
  max-width: 70vw;
  min-height: 75vh;
}

/* ----- Photo Section ----- */
.product__photo {
  position: relative;
}

.photo-container {
  position: absolute;
  left: -2.5em;
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

.photo-main {
  border-radius: 6px;
  background-color: #9be010;
  background: radial-gradient(#e5f89e, #96e001);
}
.photo-main .controls {
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
  color: #fff;
}
.photo-main .controls i {
  cursor: pointer;
}
.photo-main img {
  position: absolute;
  left: 18%;
  top: 10%;
  transform: rotate(4deg);
  max-width: 110%;
  max-height: 90%;

  filter: saturate(150%) contrast(120%) hue-rotate(10deg) drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
}

img.smartphone {
  border-radius: 1rem;
  border: 2px solid #8b8b8b;
}

.photo-album {
  padding: 1rem 1rem 1rem 0;
  border-radius: 0 0 6px 6px;
  background-color: #fff;
}
.photo-album ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  list-style-type: none;
  padding: 0;
}
.photo-album li {
  float: left;
  width: 55px;
  /*
  height: 55px;
  padding: 7px;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  */
}
.photo-album li img{
  border-radius: .2rem;
}


/* ----- Informations Section ----- */
.product__info {
  padding: 0.8em 2.5rem 0 0;
}

.product .title h2 {
  margin-bottom: 0.1em;
  color: #4c4c4c;
  font-size: 1.5em;
  font-weight: 900;
}
.product .title span {
  font-size: 0.7em;
  color: #a6a6a6;
}


.product .description {
  clear: left;
  margin: 2em 0;
}
.product .description h3 {
  margin-bottom: 1em;
}
.product .description ul {
  font-size: .9em;
  list-style: disc;
  margin-left: 1em;
  padding: 0;
}
.product .description li {
  text-indent: -0.3em;
  margin-bottom: 0.5em;
}

.details--btn {
  padding: 1.5em 3.1em;
  border: none;
  border-radius: 7px;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1.3px;
  color: #fff;
  background-color: #ff3f40;
  box-shadow: 2px 2px 25px -7px #4c4c4c;
  cursor: pointer;
}
.details--btn:active {
  transform: scale(0.97);
}

