
        #header{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #charsGraficElement{
            width: 100vw;
            height: 100vh;
            font-family: monospace;
            color: white;
            background-color: black;
            font-size: .8rem;
        }